body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.body {
  display: flex; }

.merge {
  grid-column: 1/-1; }

.left-nav,
.fiche {
  padding-top: 1rem; }

.fiche {
  padding-left: 1rem;
  margin-left: 275px; }

.left-nav {
  position: fixed;
  width: 235px; }

.block {
  gap: 1rem; }
  .block--centered {
    display: flex;
    justify-content: center;
    padding: 1rem; }
  .block--spaced {
    display: flex;
    justify-content: space-around; }

.columns {
  display: grid;
  column-gap: 1.5rem;
  padding: 2rem;
  justify-items: center; }
  .columns__aligned {
    align-items: center; }

.rows {
  display: flex;
  align-items: center;
  flex-direction: column; }

.c2 {
  grid-template-columns: 1fr 1fr; }

.c3 {
  grid-template-columns: repeat(3, 1fr); }

.c4 {
  grid-template-columns: repeat(4, 1fr); }

.header {
  background-color: #446ca2;
  color: #dbe4f0;
  padding: 1.5rem 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem; }
  .header--logo {
    max-width: 225px; }

.site-header {
  display: flex;
  background-color: #446ca2;
  color: #dbe4f0;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; }
  .site-header__logo {
    border-radius: 50%;
    background-color: #f3f3f3;
    max-width: 225px; }
  .site-header__title {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 12rem; }

.footnote {
  text-align: right;
  font-size: 1rem; }

.zebra tr:nth-child(odd) {
  background-color: #dbe4f0; }

@use "../base/colors" as *;
table {
  font-size: 1.8rem;
  border-collapse: collapse; }
  table > caption {
    font-size: 2.5rem;
    background-color: #446ca2;
    color: #f3f3f3; }
  table > thead {
    background-color: #dbe4f0; }

th,
td {
  padding: 1.2rem 2rem;
  text-align: left; }

tbody tr:nth-child(odd) {
  background-color: #eaccae; }

tbody tr:nth-child(even) {
  background-color: #faf2eb; }

tr {
  vertical-align: middle; }
