// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/functions";

// 2. Include any default variable overrides here
$primary: #1d3030;
$secondary: #437070;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/variables";
@import "../bootstrap/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../bootstrap/maps";
@import "../bootstrap/mixins";
@import "../bootstrap/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/utilities";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/containers";
@import "../bootstrap/grid";
@import "../bootstrap/helpers";
@import "../bootstrap/navbar";
@import "../bootstrap/nav";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/utilities/api";

// 8. Add additional custom code here
.logo {
    border-radius: 50%;
    background-color: $white;
}
