// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/functions";

// 2. Include any default variable overrides here
$primary: #1d3030;
$secondary: rgb(143, 188, 188);
$submit: green;
$delete: firebrick;
$form: #a5b9d2;
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/variables";
@import "../bootstrap/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
  "submit": $submit,
  "delete": $delete,
  "form": $form,
);
$theme-colors: map-merge($theme-colors, $custom-colors);
// 5. Include remainder of required parts
@import "../bootstrap/maps";
@import "../bootstrap/mixins";
@import "../bootstrap/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/utilities";
@import "../bootstrap/reboot";
@import "../bootstrap/type";
@import "../bootstrap/images";
@import "../bootstrap/containers";
@import "../bootstrap/carousel";
@import "../bootstrap/grid";
@import "../bootstrap/helpers";
@import "../bootstrap/navbar";
@import "../bootstrap/nav";
@import "../bootstrap/buttons";
@import "../bootstrap/forms/floating-labels";
@import "../bootstrap/forms/form-check";
@import "../bootstrap/forms/form-control";
@import "../bootstrap/forms/form-select";
@import "../bootstrap/forms/form-text";
@import "../bootstrap/forms/labels";
@import "../bootstrap/forms/validation";
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/utilities/api";

// 8. Add additional custom code here
.logo {
  border-radius: 50%;
  background-color: $white;
}

.checkmark::before {
  content: "\2713";
  display: inline-block;
  color: green;
  /* padding: 20px; */
}

.crossmark::before {
  content: "\2717";
  display: inline-block;
  color: red;
}

a.precedent,
a.suivant {
  text-decoration: none;
}

.precedent::after {
  content: "\261C";
  font-size: 4rem;
}

.suivant::after {
  content: "\261E";
  font-size: 4rem;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
