{% extends 'base.html' %}

{% block content %}
<section class="container col-md-8 bg-form mt-2">
    <header class="text-center">
        <h1>Habitat</h1>
    </header>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{form.habitat.label_tag}}{{form.habitat}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                {{form.sous_habitat.label_tag}}{{form.sous_habitat}}
            </div>
        </div>
        <div class="row mt-4 justify-content-evenly">
            <button class="col-2 btn btn-submit">Sauvegarder</button>
            <button class="col-2 btn btn-delete">Effacer</button>
        </div>
    </form>
    <footer class="text-center">
        <span>Dernière modification: 3 jan 2022</span>
        <span>Mario St-Gelais</span>
    </footer>
</section>
{% endblock content %}