header.fiche {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: #000;
  color: #fff;
}
header.fiche a {
  color: #fff;
  text-decoration: none;
}
main {
  display: grid;
  grid-template-rows: auto;
  margin: 10px;
  gap: 10px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
div.direction-right {
  display: flex;
  align-items: center;
  justify-self: end;
}
div.direction-left {
  display: flex;
  align-items: center;
  justify-self: start;
}

.precedent {
  font-size: 2rem;
}
.precedent::before {
  content: "\261C";
  font-size: 4rem;
}
.suivant::after {
  content: "\261E";
  font-size: 4rem;
}
.hidden {
  visibility: hidden;
}
#details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#detailsinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#detailsinfo p {
  padding: 0.4rem;
}

ul {
  list-style: none;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 512px;
  margin: auto;
}
#photo img {
  max-width: 512px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#enbref {
  display: grid;
  grid-template-columns: 50% 50%;
}

p.checkmark::before {
  content: "\2713";
  display: inline-block;
  color: green;
  padding: 0 6px 0 0;
}
p.crossmark::before {
  content: "\2717";
  display: inline-block;
  color: red;
  padding: 0 6px 0 0;
}
