hr {
    border: solid 1px #211d1d4b;
}
a.precedent,
a.suivant {
    text-decoration: none;
}
.precedent::after {
    content: "\261C";
    font-size: 4rem;
}
.suivant::after {
    content: "\261E";
    font-size: 4rem;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px 0;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.checkmark::before {
    content: "\2713";
    display: inline-block;
    color: green;
    /* padding: 20px; */
}
.crossmark::before {
    content: "\2717";
    display: inline-block;
    color: red;
}

.cellpair {
    display: flex;
    justify-content: space-between;
}

.entete {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.entete_one_page {
    text-align: center;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
}
