textarea {
    width: 100%;
    resize: none;
}

/*
Anchors and Buttons
*/

a,
button {
    font-size: 2rem;
}
a.button {
    text-decoration: none;
}

button.button {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}

a.button,
button.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--button-color);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 24px;

    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;
}

a.button:hover,
a.button:active,
button.button:hover,
button.button:active {
    background-color: var(--button-active);
}

a.button:focus,
button.button:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px #0029be;
}

a.button--small,
button.button--small {
    font-size: 1.15rem;
}

a.button--block,
button.button--block {
    width: 100%;
}
a.button--delete,
button.button--delete {
    background-color: var(--button-delete);
}
.button--row {
    margin-top: 0.5rem;
}

/*Learn about this technique:
@link https://moderncss.dev/pure-css-custom-checkbox-style/
*/
/* format for checkboxes*/

form {
    background-color: var(--form-background);
    color: var(--form-color);
}

/*
headers & footers
*/

h1 {
    font-size: 2.5rem;
}
.form-container > .header,
.form-container > footer {
    background-color: var(--header-color);
    color: #fff;
}

/*
input, select
*/

input.input[type="text"],
input.input[type="email"],
input.input[type="password"],
input.input[type="number"],
input.input[type="date"],
input.input[type="url"],
select.input,
textarea.input {
    font-size: 2rem;
    /* min-width: 24rem; */
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    color: var(--camo-black);
}

.form-control {
    font-family: system-ui, sans-serif;
    /* font-size: 2rem; */
    /* font-weight: bold; */
    line-height: 1.1;
}

/* .form-control + .form-control {
    margin-top: 1em;
} */

.form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */

    font: inherit;
    color: currentColor;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

input[type="checkbox"]::before {
    content: "";
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:disabled {
    background-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

/*Select options*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
}
select::-ms-expand {
    display: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    /* min-width: 15ch; */
    /* max-width: 30ch; */
    /* border: 1px solid var(--select-border); */
    border-radius: 0.25em;
    padding: 0.1em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select,
.select::after {
    grid-area: select;
}
.select:not(.select--multiple)::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
}

select[multiple] {
    padding-right: 0;
    /*
     * Safari will not reveal an option
     * unless the select height has room to 
     * show all of it
     * Firefox and Chrome allow showing 
     * a partial option
     */
    height: 16rem;
    /* 
     * Experimental - styling of selected options
     * in the multiselect
     * Not supported crossbrowser
     */
}
select[multiple] option {
    white-space: normal;
    outline-color: var(--select-focus);
}

.select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
}

/* label {
    font-size: 1.125rem;
    font-weight: 500;
  } */

.select + label {
    margin-top: 2rem;
}
