{% extends 'base.html' %}

{% block content %}
<header class='container text-center'>
    <h2>Administration du guide des sites</h2>
</header>
    <article class="container text-center">
        <div class="form__header">
            Listes
        </div>
        <ul class="nav flex-column">
            <li>
                <a class="btn btn-success" href="{% url "municipalites" %}">Municipalités</a>
            </li>
            <li>
                <a class="btn btn-success" href="{% url "mrcs" %}">MRC</a>
            </li>
            <li>
                <a class="btn btn-success" href="{% url 'habitats'%}">Habitats</a>
            </li>
            <li>
                <a class="btn btn-success" href="{% url 'sous-habitats'%}">Sous-habitats</a>
            </li>
            <li>
                <a class="btn btn-success" href="{% url "sites" %}">Sites ornithologiques</a>
            </li>
        </ul>
    </article>
{% endblock content %}