{% extends 'base.html' %}

{% block content %}
<header class='container text-center'>
    <h2>Administration du guide des sites</h2>
</header>
    <article class="container text-center">
        <div class="menu-options m-auto">
            <a class="btn d-grid bg-secondary-subtle p-2" href="{% url "municipalites" %}">Municipalités</a>
            <a class="btn d-grid bg-secondary-subtle p-2 mt-2" href="{% url "mrcs" %}">MRC</a>
            <a class="btn d-grid bg-secondary-subtle p-2 mt-2" href="{% url 'habitats'%}">Habitats</a>
            <a class="btn d-grid bg-secondary-subtle p-2 mt-2" href="{% url 'sous-habitats'%}">Sous-habitats</a>
            <a class="btn d-grid bg-secondary-subtle p-2 mt-2" href="{% url "sites" %}">Sites ornithologiques</a>
        </div>
    </article>

{% endblock content %}