{% extends 'base.html' %}
{% block content %}
<main class="container bg-form">
    <div class="header"> <h1>Photos de site ornithologique</h1> </div>
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
                <div class="row"> 
                    <div class='col col-sm-12 col-md-6'>{{form.siteornitho.label_tag}} {{form.siteornitho}}</div>
                    <div class='col col-sm-12 col-md-6'>{{form.title.label_tag}} {{form.title}} </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{form.description.label_tag}} {{form.description}} </div>
                    </div>
                <div class="row"> 
                    <div class='col col-sm-12 col-md-6'>{{form.photo_author.label_tag}} {{form.photo_author}} </div>
                    <div class='col col-sm-12 col-md-6'>{{form.photo_date.label_tag}} {{form.photo_date}} </div>
                </div>
                <div class="row">
                     {{form.image.label_tag}} {{form.image}}
                    <img class='img' src="/media/{{form.image.value}}" alt="{{image.title}}">
                </div>
                <div class="row">
                    <input class='btn btn-submit' type="submit" value='Sauvegarder'>
                </div>
        </form>
        <footer class="">
            <span>Dernière modification: 3 jan 2022</span>
            <span>Mario St-Gelais</span>
        </footer>
</main>
{% endblock content %}
