{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block content %}
<section>
    <a href='{% url 'add-image' %}' class='btn'>Ajouter Image</a>
    <article class="block">
        <div class="album">
            {% for i in images %}
            <div class="image">
                <div class="image__header">{{i.siteornitho.nom_du_site}}</div>
                <div class="image__body">
                    <div class='title'>{{i.title}}</div>
                    <div class='photo'>
                        <img
                            src="/media/{{i.image}}"
                            alt="{{image.title}}"
                        />
                    </div>
                    <div class='description'>{{i.description}}</div>
                    <div class='author'>
                        <div>{{i.photo_author}}</div>
                        <div>{{i.photo_date}}</div>
                    </div>

                    <div class='buttons'>
                        <a href="#" class="btn btn-delete">Effacer</a>
                        <a href="{% url 'update-image' i.pk %}" class="btn">Modifier</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
{% endblock content %}