{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% load image_tags %}
{% block content %}
<section class='container bg-dark text-white'>
    <a href='{% url 'add-image' %}' class='btn'>Ajouter Image</a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for i in images %}
            <div class="image border rounded-3 p-2">
                <div class="container text-center">
                    <a class='text-white-50' href="{% url 'site' i.siteornitho.pk%}">{{i.siteornitho.nom_du_site}}</a></div>
                <div class="col text-white-50">
                    <div class='text-center'>{{i.title}}</div>
                        <img class='img-thumbnail' src="/media/{{i.image}}" alt="{{image.title}}" />
                    <div class='text-center'>{{i.description}}</div>
                    <div>
                        <div>{{i.photo_author}}</div>
                        <div>{{i.photo_date}}</div>
                    </div>
                    <div>
                        <div>{% get_file_name i.image.name %}</div>
                        <div>{{i.width}} X {{i.height}} pixels</div>
                    </div>

                    <div class='buttons row gap-4 p-3 justify-content-evenly'>
                        <a class="btn btn-delete  col-md-12 col-lg-4" href="{% url 'delete-image' i.pk %}">Effacer</a>
                        <a class='btn btn-submit  col-md-12 col-lg-4' href="{% url 'update-image' i.pk %}" class="btn">Modifier</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
{% endblock content %}