{% extends 'base.html' %}
{% block content %}
<main class="block block--centered">
    <div class="form">
        <div class="header">
            <h1>Photos de site ornithologique</h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <section class="form__fields-flex">
                <div class="form__row">
                    <div class="form__field">
                        <label for="nom_du_site">Nom du site</label> 
                            {{form.siteornitho}}
                    </div>
                </div>
                <div class="form_row">
                    <div class="form__field">
                        <label for="titre">Titre</label> 
                            {{form.title}}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="description">Description</label> 
                            {{form.description}}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="auteur">Auteur</label> 
                            {{form.photo_author}}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="date">Date</label> 
                            {{form.photo_date}}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label for="image">Image</label> 
                            {{form.image}}
                    </div>
                </div>
                <div class="form__row">
                    <input class='btn' type="submit" value='Sauvegarder'>
                </div>
            </section>
        </form>
        <footer class="">
            <span>Dernière modification: 3 jan 2022</span>
            <span>Mario St-Gelais</span>
        </footer>
    </main>
{% endblock content %}
