{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block content %}
<div class="container">
{% include 'siteornitho/siteornitho_search_form.html'%}

{% if sites.0 %}
<main>
<!-- !PAGE CONTENT! -->
    <div class="block">
    <!-- Slideshow Header -->
        <div class='slideshow'>
            <div class="header fiche_title">
                {% if sites.has_previous%}
                <a class='precedent' href='{% url "catalogue" previous_page %}' data-title='Fiche précédente'></a>
                {%else%}
                <p></p>
                {% endif %}
                <h2>{{ sites.0.nom_du_site}}</h2>
                {% if sites.has_next%}
                <a class='suivant' href='{% url "catalogue" next_page %}' data-title="Fiche suivante"></a>
                {% endif%}
            </div>
            
            {% for i in sites.0.images.all %}
            <div class="slides" style="display: none">
                <div class='title'>
                    {{ i.title}} {{i.description}}
                </div>
                <img src="{{ i.image.url }}" style="width: 100%" alt={{ i.image}} />
                <div class='author'>
                    {{ i.photo_author }} - {{i.photo_date}} <br>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="block">
            <div class="miniatures">
                {% for i in sites.0.images.all %}
                <div class="miniature">
                    <img class='demo'
                    src="{{ i.image.url}}"
                    style="width: 100%; cursor: pointer"
                    onclick="currentDiv({{ forloop.counter }})"
                    title="{{i.title}}"
                    alt="{{i.title}}"
                    />
                </div>
                {% endfor %}
            </div>
        </div>
        
        <section class="information">
            <div class="information__title">Sommaire</div>
            <article class="information__detail">
                <p>Siteweb</p>
                <p>{{ sites.0.url|default:"&nbsp;" }}</p>
                
                <p>Site ebird</p>
                {% if sites.0.locid %}
                <p><a class='globe' target="_blank" href="https://ebird.org/qc/hotspot/{{sites.0.locid}}">{{sites.0.locid}}</a></p>
                {% endif %}
                
                <p>Municipalité</p>
                <p>{{sites.0.municipalite|default:"&nbsp;"}}</p>
                
                <p>Coordonnées</p>
                <a target="_blank"
                href="https://www.google.com/maps?q={{site.0.latitude}},{{sites.0.longitude}}+(My+Point)&z=14&ll={{sites.0.latitude}},{{sites.0.longitude}}"
                >{{sites.0.latitude}},{{sites.0.longitude}}</a>
                
                <p>Accès gratuit</p>
                <p class="{% if sites.0.acces_gratuit %}checkmark{% else %}crossmark{% endif %}"></p>
                
                <p>Transport en commun</p>
                <p class="{% if sites.0.transport%}checkmark {%else%}crossmark{% endif %}"></p>
                
                <p>période d'intérêt</p>
                <p>{{m1}} {{m2}} </p>
                
                <p>Toilettes</p>
                <p class="{% if sites.0.toilette%}checkmark{%else%}crossmark{% endif %}"></p>
                
                <p>Aire de picnique</p>
                <p class="{% if sites.0.picnique%}checkmark{%else%}crossmark{% endif %}"></p>
                
                <p>Banc</p>
                <p class="{% if sites.0.banc%}checkmark{%else%}crossmark{% endif %}"></p>
            </article>
            <p class="information__title">Description de l'habitat</p>
            <p>Forestier non-défini; Forestier - conifères; Forestier - mixte; Forestier - feuillus</p>
            
            <p class="information__title">Description du site</p>
            <p> {{ sites.0.description_generale }} </p>
            
            <p class="information__title">Bon à savoir</p>
            <p>{{sites.0.bon_a_savoir}}</p>
            
            <p class="information__title">Enjeu de conservation</p>
            <p> {{sites.0.enjeux}} </p>
            
            <p class="information__title">Propriétaire ou partenatiat</p>
            <p>{{sites.0.stakeholder|default:"&nbsp;"}}</p>
            
        </section>
        <hr />
        
        {% if request.user.is_authenticated %}
        <div class="block block--spaced">
            <a class="btn" href="{% url 'edit-site' sites.0.pk %}">Modifier</a>
            <a class="btn btn-delete" href="{% url 'delete-site' sites.0.pk %}">Effacer</a>
        </div>
        {% endif %}
        
        <footer class="w3-container w3-padding-16" style="margin-top: 32px" >
            Dernière mise a jour:   {{sites.0.miseajour|localize}} It is {% now "jS F Y H:i" %}      
        </footer>
        <!-- End page content -->
    </div>
    </main>
</div>
<script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function currentDiv(n) {
        showDivs((slideIndex = n));
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("slides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(
                " opacity-off",
                ""
            );
        }
        x[slideIndex - 1].style.display = "grid";
        dots[slideIndex - 1].className += " opacity-off";
    }
</script>
{% endif %}
{% endblock content %}