{% extends 'base.html' %} 
{% block title %}Rechercher des sites{% endblock title %}
{% block content %}

{% include 'siteornitho/siteornitho_search_form.html'%}


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="menuOverlay" ></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-white" style="margin-left: 260px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top: 80px"></div>

    <div class="w3-container">
        {% if filter %}
        <ul>
            {% for site in filter %}
            <li>
                <a href="{% url 'site' site.pk%}?municipalite={{initial.municipalite}}&nom_du_site={{initial.nom_du_site}}&transport={{initial.transport}}">{{ site.nom_du_site }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Il n'existe pas de sites</p>
        {% endif %}
    <footer
        class="w3-container w3-padding-16"
        style="margin-top: 32px"
    ></footer>

    <!-- End page content -->
</div>
{% endblock content %}
