{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'siteornitho/siteornitho_search_form.html'%}
<!-- !PAGE CONTENT! -->

<main class="block">
    <!-- Slideshow Header -->
    <div>
        <div class="header fiche_title">
            <span></span>
            <h2>{{ sites.nom_du_site}}</h2>
            <span></span>
        </div>

        {% for i in sites.images.all %}
        <div class="w3-display-container mySlides">
            alt={{ i.image}}
        </div>
        <div class="slides">
            <img src="{{ i.image.url }}" style="width: 100%" />
            <figcaption>
                {{ i.photo_author }} - {{i.photo_date}} <br>
                {{ i.title}} {{i.description}}
            </figcaption>
        </div>
        {% endfor %}
    </div>

    <div class="block">
        {% for i in sites.images.all %}
        <div class="miniatures">
            <div class="miniature">
                <img
                src="{{ i.image.url}}"
                style="width: 100%; cursor: pointer"
                onclick="currentDiv({{ forloop.counter }})"
                title="{{i.title}}"
                alt="Jardin Place de la cité"
                />
            </div>
            {% endfor %}
        </div>
    </div>

    <section class="information">
        <div class="information__title">Sommaire</div>
        <article class="information__detail">
            <p>Site web</p>
            {% if sites.url %} <a target="_blank" href="{{sites.url}}">{{sites.url}}</a> {% else %} <p class="crossmark"></p> {% endif %}

            <p>Site Ebird</p>
            {% if sites.locid %}
                <p> <a target="_blank" href="https://ebird.org/hotspot/{{sites.locid}}">{{sites.locid}}</a></p>
            {% else %}
                <p class="crossmark"></p>
            {% endif %}
               
            <p>Municipalité</p>
            {% if sites.municipalite %} <p>{{sites.municipalite}}</p> {%else%} <p class="crossmark"></p> {%endif%}%

            <p>Coordonnées</p>
            <p>
                {% if sites.longitude and sites.latitude %}
                <a target="_blank"
                    href="https://www.google.com/maps?q={{site.latitude}},{{sites.longitude}}+(My+Point)&z=14&ll={{sites.latitude}},{{sites.longitude}}"
                    >{{sites.latitude}},{{sites.longitude}}</a
                >
                {%else%}
                <p class="crossmark"></p> 
                {% endif %}
            </p>

            <p>Accès gratuit</p>
            <p class="{% if sites.acces_gratuit %}checkmark{% else %}crossmark{% endif %}"</p>
        
            <p>Transport en commun</p>
            <p class="{% if sites.transport%}checkmark {%else%}crossmark{% endif %}"</p>

            <p>Période d'intérêt</p>
            <p>{{m1}} {{m2}} </p>

            <p>Toilettes</p>
            <p class="{% if sites.toilette%}checkmark{%else%}crossmark{% endif %}"</p>

            <p>Aire de picnique</p>
            <p class="{% if sites.picnique%}checkmark{%else%}crossmark{% endif %}"</p>

            <p>Banc</p>
            <p class="{% if sites.banc%}checkmark{%else%}crossmark{% endif %}"</p>

        </article>
        <p class="information__title">Description de l'habitat</p>
        <p>Forestier non-défini; Forestier - conifères; Forestier - mixte; Forestier - feuillus</p>

        <h4><strong>Description du site</strong></h4>
        <p>
            {{ sites.description_generale }}
        </p>

        <h4><strong>Bon à savoir</strong></h4>
        <p>{{sites.bon_a_savoir}}</p>
        <h4><strong>Enjeu de conservation</strong></h4>
        <p>
            {{sites.enjeux}}
        </p>
        <h4><strong>Propriétaire ou partenatiat</strong></h4>
        <p>{{sites.stakeholder|default:"&nbsp;"}}</p>
        <hr>
    </section>

    {% if request.user.is_authenticated %}
    <a class="button btn--sm" href="{% url 'edit-site' sites.pk %}">Modifier</a>
    <a class="button btn--sm button--delete" href="{% url 'delete-site' sites.pk %}">Effacer</a>
    {% endif %}
    <footer
        class="w3-container w3-padding-16"
        style="margin-top: 32px"
    ></footer>
</main>
<!-- Contact -->

<footer class="">Dernière mise a jour: 7 mars 2023 It is 27th mars 2023 21:13</footer>


<script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function currentDiv(n) {
        showDivs((slideIndex = n));
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(
                " w3-opacity-off",
                ""
            );
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-opacity-off";
    }
</script>
{% endblock content %}