<aside class="form form--collapsible" id="filter-form">
    <form action="{% url 'sites' %}" method="GET">
        <header class="form__header" onclick='toggle_search_menu()'>Trouver un sites</header> 
            <section class="form__fields_flex">
                <div class="form__row">
                    <div class="form__field">
                        <label class='label' for="nom_du_site">{{form.nom_du_site.label}}</label>
                        {{form.nom_du_site}}
                        
                    </div>
                </div>
                
                <label class='label'>{{form.municipalite.label}} {{form.municipalite}} </label>
                <label class='label'>{{form.sous_habitat.label}} {{form.sous_habitat}} </label>
                <label class='label'>Période d'intérêt
                    <div> {{form.periode_interet_debut}} </div>
                </label>
                <label class='label checkbox-label'>
                    {{form.transport}} 
                    {{form.transport.label}} 
                </label>
            </section>
            <div class="block block--spaced">
                <button class="btn">Lancer recherche</button>
            </div>
              <div class="form__footer">&nbsp;</div>
    </form>
    <div id="expender" class="form__expender"><p>&nbsp;</p></div>
</aside>


<script>
    function toggle_search_menu(){
        let aside = document.querySelector('aside')
        if (aside.style.visibility == 'hidden'){
            aside.style.visibility='visible'
        }else{
            aside.style.visibility='hidden'
        }
    }
</script>