<nav
class="w3-sidebar w3-light-grey w3-collapse w3-top"
style="z-index: 3; width: 260px"
id="mySidebar"
>
<!-- Sidebar/menu -->
<div class="w3-container w3-display-container w3-padding-16">
    <i
    onclick="w3_close()"
    class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"
    ></i>
<h3>Trouver un site</h3>
    <h6>Critère de sélection</h6>
    <hr />
    <form id='search_form' action="{% url 'sites' %}" method="GET">
        <div>
            <label for="nom_du_site">{{form.nom_du_site.label}}</label>
            {{form.nom_du_site}}
        </div> 
        <div>
            <label for="municipalite">{{form.municipalite.label}}</label>
            {{form.municipalite}}
        </div> 
        <div>
            <label for="sous_habitat">{{form.sous_habitat.label}}</label>
            {{form.sous_habitat}}
        </div> 
        <div>
            <label for="">{{form.transport.label}}</label>
            {{form.transport}}
        </div> 
        
        <p>
            <button
            class="w3-button w3-block w3-green w3-left-align"
            type="submit"
            >
            Afficher les résultats
        </button>
        </p>
    </form>
</div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <span class="w3-bar-item">Guide des sites</span>
    <a
    href="javascript:void(0)"
    class="w3-right w3-bar-item w3-button"
    onclick="w3_open()"
    >&#9776;</a
    >
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="menuOverlay" ></div>
