{% extends 'base.html' %}
{% block content %}
<section class="block block--centered">

    <div class="form">
        <header class="form__header">
            <div class="form__logo"></div>
            <h1>Site ornithologique</h1>
        </header>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <div class="form__fields">
                <div class="form__row">
                    <div class="form__field">
                        <label class="label" for="nom_du_site">Nom du site</label>
                        {{form.nom_du_site}}
                    </div>
                    <div class="form__field">
                        <label class="label" for="municipalite">Municipalité</label>
                        <div class="select"> {{form.municipalite}} </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="label" for="locid">Localisation eBird</label>
                        {{form.locid}}
                    </div>
                    <div class="form__field">
                        <label class="label" for="website">website</label>
                        {{form.url}}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="label" for="longitude">longitude</label>
                        {{form.longitude}}
                    </div>
                    <div class="form__field">
                        <label class="label" class="label" for="latitude">latitude</label>
                        {{form.latitude}}
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="label" class="label" for="periode_debut">Début période d'intérêt</label>
                        {{form.periode_interet_debut}}
                    </div>
                    <div class="form__field">
                        <label class="label" class="label" for="periode_fin" >Fin période d'intérêt</label>
                        <div class="select"> {{form.periode_interet_fin}} </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="label" class="label" for="sous-habitat">Sous-habitat</label>
                        <div class="select">
                            {{form.sous_habitat}}
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <label class="label checkbox-label"> {{form.transport}} Transport </label>
                    <label class="label checkbox-label" class="label"> {{form.acces_gratuit}} Accès gratuit </label>
                    <label class="label checkbox-label" class="label">{{form.toilette}}  Toilettes disponible </label>
                    <label class="label checkbox-label" class="label">{{form.picnique}} Aire de picnique </label>
                    <label class="label checkbox-label" class="label">{{form.banc}} Banc </label>
                    <label class="label checkbox-label"> Status </label> {{form.status}}
                </div>
                <div class="form__row">
                    <div class="form__field">
                        <label class="label" for="auteur">Auteur de ce site</label>
                        {{form.auteur}}
                    </div>
                    <div class="form__field">
                        <label class="label" for="miseajour">Date de mise à jour</label>
                        <input class="input" type="text" />
                    </div>
                </div>
                <div class="form__row">
                    <label class="label" for="stakeholder">Propriétaire ou partenaires</label> {{form.stakeholder}}
                </div>
                <div class="form__row">
                    <label class="label" for="description-generale">Description générale</label> {{form.description_generale}}
                </div>
                <div class="form__row">
                    <label class="label" for="bon-a-savoir">Bon à savoir</label> {{form.bon_a_savoir}}
                </div>
                <div class="form__row">
                    <label class="label" for="enjeux">Enjeux</label>{{form.enjeux}}
                </div>
                <div class="form__row">
                    <button class="btn">Sauvegarder</button>
                    <button class="btn btn-delete">Effacer</button>
                </div>
            </div>
        </form>
        <footer class="form__footer">
            <span>Dernière modification: 3 jan 2022</span>
            <span>Mario St-Gelais</span>
        </footer>
    </div>
        {% endblock content %}