<nav
class="w3-sidebar w3-light-grey w3-collapse"
style="z-index: 3; width: 260px"
id="mySidebar"
>
<!-- Sidebar/menu -->
<div>
    <div class='header'>
        <h3>Trouver un site</h3>
    </div>
    <i
    onclick="w3_close()"
    class="w3-hide-large w3-button w3-transparent w3-display-topright"
    >cacher</i>
    <hr />
    <form id='search_form' action="{% url 'sites' %}" method="GET">
        <div class='row'>
            <div class="entry">
                <label for="nom_du_site">{{form.nom_du_site.label}}
                </label>
                {{form.nom_du_site}}
            </div>
        </div> 
        <div class='row'>
            <label>{{form.municipalite.label}} {{form.municipalite}} </label>
        </div> 
        <div class='row'>
            <label>{{form.sous_habitat.label}} {{form.sous_habitat}} </label>
        </div> 
        <div class='row'>
            <label>Période d'intérêt
                <div> {{form.periode_interet_debut}} </div>
            </label>
        </div> 
        <div class='row'>
            <label class='form-control'>
                {{form.transport}} 
                {{form.transport.label}} 
            </label>
        </div> 
        
        <p>
            <button
            class="w3-button w3-block w3-green w3-left-align"
            type="submit"
            >
            Afficher les résultats
        </button>
        </p>
    </form>
</div>
</nav>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor: pointer" title="close side menu" id="menuOverlay" ></div>
