.site-nav {
    background-color: $color-theme-medium;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;

    @include respond-small {
        flex-direction: column;
    }

    @include respond-medium {
        .btn {
            min-width: 10ch;
            font-size: 1.5rem;
        }
        background-color: orange;
    }
}
