{% extends 'base.html' %}
{% load static %}
{% block content %} 

  <section class="block block--centered">
    <div class="form">
        <div class="form__header">
            <h2>Guide des sites</h2>
            <h4>Administration</h4>
        </div>

        <form action="#" method="POST">
            {% csrf_token %}
            <div class="form__fields">
                <label class="label" for="username">Nom d'utilisateur </label>
                <input
                    class="input"
                    type="text"
                    name="username"
                    placeholder="Saisir votre nom d'utilisateur..."
                    autofocus='autofocus'
                />

                <label class="label" for="password">Mot de passe: </label>
                <input
                    class="input"
                    id="formInput#password"
                    class="input"
                    type="password"
                    name="password"
                    placeholder="••••••••"
                />

                <label class="label checkbox-label right" id="show_password">
                    <input class="input" type="checkbox" onclick="togglePassword()" />
                    Montrer le mot de passe
                </label>
            </div>

            <div class="block block--spaced">
                <input class="btn" type="submit" value="Log In" />
                <a class="btn btn--link" href="forgetpassword.html">Mot de passe oublié?</a>
            </div>
        </form>

        <div class="columns">
            <div class="rows">
                <p>Contacter le responsable</p>
                <a class="btn btn--link" href="mailto:">mario@mail.ca</a>
            </div>
        </div>
    </div>
</section>

  <script>
    function togglePassword() {
      var x = document.getElementById("formInput#password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
  {% endblock content %}