<!DOCTYPE html>
{% load static %}
{% load l10n %}  
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'siteornitho/base.css'%}" />
    <link rel="stylesheet" href="{% static 'siteornitho/style.css' %}">
    <link rel="stylesheet" href="{% static 'siteornitho/layout.css' %}">
    <link rel="stylesheet" href="{% static '/uikit/styles/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'siteornitho/main.css' %}">
    <link rel="stylesheet" href="{% static 'siteornitho/fiche.css' %}">
    <link rel="stylesheet" href="{% static 'styles/app.css' %} ">
    <link rel="stylesheet" href="{% static 'siteornitho/w3.css' %}">
    <title> {% block title %}{% endblock title %} </title>
</head>
<body>
{% include 'navbar.html' %}
{% if messages %}
{% for message in messages  %}
    <div class='alert alert--{{message.tags}}'>
        <p class='alert__message'>{{message}}</p>
        <button class='alert__close'>x</button>
    </div>
{% endfor %}
{% endif %}

{% block content %}{% endblock content %}
</body>
</html>

<script>
    // Script to open and close sidebar when on tablets and phones
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("menuOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("menuOverlay").style.display = "none";
    }
</script>