{% extends 'base.html' %}

{% block titre %} Guide des sites{% endblock titre %} 

{% block title %}
Guide des sites - Club des Ornithologes de l'Outaouais
{% endblock title %}

{% block content %}
<main class='container'>
<h2> Introduction sur les lieux d’observations des oiseaux en Outaouais </h2>
<p>
La région de l’Outaouais couvre une vaste étendue située sur le territoire traditionnel Algonquin; les ornithologues fréquentent principalement des zones urbaines et périurbaines de Gatineau, mais la région compte plus de 10 MRC sur une superficie de 30 467 km 2. Ces secteurs ruraux possèdent une grande diversité d’habitats qui offrent autant d’occasions de découvrir nos magnifiques espèces aviaires.
</p>
<p>
Ce guide des sites est un outil publique développé dans le cadre de plusieurs des objectifs stratégiques du Club des ornithologues de l’Outaouais: offrir des services qui répondent aux besoins de ces membres; oeuvrer à la conservation, à la protection et à la mise en valeur des habitats et des aménagements; développer les connaissances sur les oiseaux et sur les enjeux auxquels ils font face; et finalement informer, sensibiliser et éduquer divers publics externes au sujet des oiseaux et de leurs habitats.

</p>

<p>
Le loisir ornithologique est une pratique relativement accessible. Bien que certains sites offrent de belles opportunités ornithologiques, ils peuvent également comporter certains risques et défis. Ce guide contient des renseignements pratiques et logistiques qui complètent une préparation adéquate, notamment concernant l’équipement, le niveau de forme physique ou bien les risques inhérents aux divers environnements. Le Club des ornithologues de l’Outaouais vous invite à respecter son code d’éthique, à suivre les règles en vigueur sur le territoire et à consulter les autres rubriques d’informations sur son site.
</p>
<p>
Au fil du temps, cet outil sera mis à jour par nos bénévoles; afin de suggérer l’ajout de sites, de modifier les descriptions ou les commenter, veuillez communiquer par courriel à info@coo.qc.ca.
</p>

<a href="{% url 'catalogue' %}">Catalogue des sites, Naviguer les site un par un</a>
<a href="{% url "detail_list" %}">Liste des noms de sites</a>
</main>
{% endblock content %}

