{% load static %} 
<header class="site-header">
    <div class="site-header__logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Login System Logo" />
        </a>
    </div>
    <div class="site-header--title">
        <h1>Club des ornithologues de l'Outaouais</h1>
        <h3>Guide des sites</h3>
    </div>
</header>
    <nav class="site-nav">
        {% comment %} Main menu toggle for small screen {% endcomment %}
        {% comment %} <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
            <span>Menu</span>
            <div class="toggle-menu__lines"></div>
        </label> {% endcomment %}
        <div class="block block--spaced">
            {% if is_home != True %}
            <button class="btn btn--link"onclick='toggle_search_menu()'>Trouver un site</button>
            {% endif %}
            <a class="btn btn--link" href="{% url 'catalogue' %}">Catalogue</a>
            {% if request.user.is_authenticated %}
             <a class="btn btn--link" href="{% url 'logout' %}" class="button button--small">Déconnexion</a>
             <a class="btn btn--link" href="{% url 'add-site' %}" class="button button--small">Ajouter site</a>
             <a class="btn btn--link" href="{% url 'site-admin' %}" class="button button--small">Administration</a>
             <a class="btn btn--link" href="{% url 'images' %}" class="button button--small">Images</a>
             <a class="btn btn--link" href="{% url 'account' %}">{{user}}</a>
            {% else %}
            <a class="btn btn--link" href="{% url 'login' %}">Connexion</a>
            {% endif %}
        </div>
    </nav>