{% load static %}
<header class="header">
    <div class="container container--narrow">
        <a href="#" class="header__logo">
            <img
                src="{% static 'images/logo.png' %} "
                alt="Login System Logo"
            />
        </a>
        <div class="site-title">
            <h1>Guide des sites</h1>
            <h3>Club des ornithologues de l'Outaouais</h3>
        </div>
    </div>

    <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
            <span>Menu</span>
            <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
            <li class="header__menuItem"><a href="{% url 'catalogue' %}">Catalogue</a></li>
            {% if request.user.is_authenticated %}
            <li class="header__menuItem"> <a href="{% url 'logout' %}" class="button button--small">Déconnexion</a> </li>
            <li class="header__menuItem"> <a href="{% url 'add-site' %}" class="button button--small">Ajouter site</a> </li>
            <li class="header__menuItem"> <a href="{% url 'add-photo' %}" class="button button--small">Ajouter image</a> </li>
            <li class="header__menuItem" title="Votre profil">
                <a href="{% url 'account' %}">{{user}}</a>
            </li>
            {% endif %}
            {% comment %} {% else %} {% endcomment %}
            {% comment %} <li class="header__menuItem"> {% endcomment %}
                {% comment %} <a href="#" class="btn btn--sub">Se connecter</a> {% endcomment %}
            {% comment %} </li> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
        </ul>
    </nav>
</header>