<div class="container">

    <nav class="navbar navbar-expand-lg bg-secondary" style='margin:0 -12px'>
        <div class="container-fluid">
            <ul class='navbar-nav'>
                {% if is_catalogue == True %}
                <button class="btn btn--link"onclick='toggle_search_menu()'>Trouver un site</button>
                {% endif %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'catalogue' %}">Catalogue</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'add-site' %}" class="button button--small">Ajouter site</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'images' %}" class="button button--small">Images</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'site-admin' %}" class="button button--small">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" class="button button--small">Déconnexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                </li>
                {% endif %}
    
            </ul>
        </div>
    </nav>
</div>