{% extends 'base.html' %}

{% block content %}
    <div class="container col-md-8 bg-form mt-2">
        <header class="text-center">
            <h1>Municipalité</h1>
        </header>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <div class="row justify-content-center">
                <div class='col-md-6'>
                    {{form.mrc.label_tag}}{{form.mrc}}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {{form.name.label_tag}}{{form.name}}
                </div>
            </div>
            <div class="row mt-4 justify-content-evenly">
                <button class="col-2 btn btn-submit">Sauvegarder</button>
                <button class="col-2 btn btn-delete">Effacer</button>
            </div>
        </form>
        <footer class="text-center mt-3">
            <span>Dernière modification: 3 jan 2022</span>
            <span>Mario St-Gelais</span>
        </footer>
    </div>
{% endblock content %}