.btn--sub {
    background-color: var(--color-sub-light);
}

img {
    width: 100%;
}

/*=======================
  Header Section
  ========================*/
.header {
    position: sticky;
    z-index: 111;
    background-color: var(--color-sub);
    color: var(--color-light);
    /* padding: 1.5rem 1rem; */
}

.header > .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-title {
    padding-left: 5rem;
}
.header__logo > img {
    height: 10rem;
    background-color: #fff;
    border-radius: 50%;
    width: 106px;
}
.header__nav {
    background-color: var(--color-gray);
}
.header__nav > ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    gap: 6.5rem;
}
.header__nav > ul > li {
    margin-left: 10px;
}

.header__menuItem > a {
    color: var(--color-light);
    font-weight: 300;
}

.toggle-menu > span {
    display: none;
}

.header__nav input[type="checkbox"] {
    display: none;
}

.header__nav input[type="checkbox"]:checked ~ .header__menu {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 800px) {
    .header__logo {
        position: relative;
        z-index: 999;
    }
    .toggle-menu {
        position: relative;
    }

    .toggle-menu > span {
        display: block;
        position: fixed;
        top: 1.5rem;
        right: 2.75rem;
        cursor: pointer;
        padding: 1rem;
        background: var(--camo-black);
        z-index: 999;
        font-size: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    .toggle-menu__lines,
    .toggle-menu__lines::before,
    .toggle-menu__lines::after {
        pointer-events: none;
        content: "";
        display: block;
        height: 2px;
        width: 2.5rem;
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index: 999;
        background: var(--color-light);
        transition: all 0.3s ease-in-out;
    }

    .toggle-menu__lines::before {
        top: 3.4rem;
        transform-origin: 0 0;
    }
    .toggle-menu__lines::after {
        top: 4.6rem;
        transform-origin: 0 0;
    }

    .header__nav
        input[type="checkbox"]:checked
        + .toggle-menu
        > .toggle-menu__lines::before {
        margin-left: 3px;
        transform: rotate(45deg) scaleX(1.2) translateX(-2px) translateY(-4px);
        visibility: visible;
    }

    .header__nav
        input[type="checkbox"]:checked
        + .toggle-menu
        > .toggle-menu__lines {
        visibility: hidden;
    }

    .header__nav
        input[type="checkbox"]:checked
        + .toggle-menu
        > .toggle-menu__lines::after {
        transform: rotate(-45deg) scaleX(1.2) translateX(-2px) translateY(3px);
        visibility: visible;
    }

    .header__nav > ul {
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--color-sub);
        transition: all 0.5s ease-in-out;
    }

    .header__menuItem a {
        transition: all 0.5s ease-in-out;
        padding: 1rem 3rem;
    }

    .header__menuItem a:hover {
        padding: 1rem 3rem;
        border-radius: 3px;
        background: var(--color-sub-light);
    }
}

/*=======================
  Pagination
========================*/
.pagination {
    margin-top: 8rem;
    margin-bottom: 10rem;
}

.pagination > ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pagination .btn {
    color: var(--color-sub);
}

.pagination .btn.btn--sub {
    color: var(--color-light);
}

/*=======================
  Login/SignUp
========================*/

.auth {
    width: 100%;
    position: relative;
    z-index: 1;
    background: transparent;
    /* height: 99vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth::after {
    z-index: -1;
    opacity: 0.1;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.auth > .card {
    /* padding: 3rem 4rem; */
    width: 95%;
    max-width: 65rem;
}

@media screen and (min-width: 650px) {
    .auth > .card {
        /* padding: 5rem 8rem; */
        width: 95%;
        max-width: 65rem;
    }
}

.auth__header h3 {
    color: var(--color-sub);
    font-weight: 700;
    margin-top: 1rem;
}

.auth__header p {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.auth__form {
    margin: 3rem 0;
}

.auth__alternative {
    display: flex;
    justify-content: space-between;
}
/* .auth .auth__form label,
.auth .auth__alternative p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-sub-light);
} */

.auth .auth__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
}
.auth .auth__actions a {
    text-decoration: underline;
}

.auth .auth__alternative a {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-sub-light);
}

/*=======================
  Fixed Position Alerts Wrapper
========================*/

.alert {
    position: fixed;
    left: 50%;
    top: 120px;
    transform: translate(-50%, -50%);

    z-index: 99999;
}
